## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# Module 6 Challenge 
# Deliveriable 2

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Sobolevo,RU,54.4299,31.8996,43.77,81,80,9.46,light rain,2021-04-21 10:58:18
1,1,Tinaquillo,VE,9.9186,-68.3047,69.01,83,8,3.74,clear sky,2021-04-21 10:58:18
2,2,Pangnirtung,CA,66.1451,-65.7125,27.07,74,99,9.24,overcast clouds,2021-04-21 10:58:19
3,3,Lasa,IT,46.6166,10.7002,60.80,61,40,2.30,scattered clouds,2021-04-21 10:58:20
4,4,Codrington,AU,-38.2667,141.9667,52.20,77,93,12.24,overcast clouds,2021-04-21 10:58:20

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
6,6,Rikitea,PF,-23.1203,-134.9692,76.84,74,77,5.32,light rain,2021-04-21 10:58:21
9,9,Souillac,MU,-20.5167,57.5167,77.00,94,75,8.05,light rain,2021-04-21 10:58:22
12,12,Bambous Virieux,MU,-20.3428,57.7575,82.99,94,75,8.05,light rain,2021-04-21 10:58:24
19,19,Amapa,BR,1.0000,-52.0000,71.49,96,90,1.54,overcast clouds,2021-04-21 10:58:26
21,21,Port Alfred,ZA,-33.5906,26.8910,77.18,59,93,13.20,overcast clouds,2021-04-21 10:58:27
23,23,Bhola,BD,22.6833,90.6500,89.80,53,23,13.38,few clouds,2021-04-21 10:58:28
25,25,Kavieng,PG,-2.5744,150.7967,83.07,74,84,3.29,broken clouds,2021-04-21 10:58:28
27,27,Angra Dos Reis,BR,-23.0067,-44.3181,73.40,73,90,11.50,overcast clouds,2021-04-21 10:58:29
30,30,Hermanus,ZA,-34.4187,19.2345,75.99,65,31,3.00,scattered clouds,2021-04-21 10:58:30
31,31,Georgetown,MY,5.4112,100.3354,87.80,70,20,8.05,few clouds,2021-04-21 10:54:15

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.notnull().sum()

City_ID                239
City                   239
Country                235
Lat                    239
Lng                    239
Max Temp               239
Humidity               239
Cloudiness             239
Wind Speed             239
Current Description    239
Date                   239
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
6,6,Rikitea,PF,-23.1203,-134.9692,76.84,74,77,5.32,light rain,2021-04-21 10:58:21
9,9,Souillac,MU,-20.5167,57.5167,77.00,94,75,8.05,light rain,2021-04-21 10:58:22
12,12,Bambous Virieux,MU,-20.3428,57.7575,82.99,94,75,8.05,light rain,2021-04-21 10:58:24
19,19,Amapa,BR,1.0000,-52.0000,71.49,96,90,1.54,overcast clouds,2021-04-21 10:58:26
21,21,Port Alfred,ZA,-33.5906,26.8910,77.18,59,93,13.20,overcast clouds,2021-04-21 10:58:27
...,...,...,...,...,...,...,...,...,...,...,...
659,659,Tamayo,DO,18.3947,-71.2029,72.97,83,60,0.63,broken clouds,2021-04-21 11:02:55
662,662,Ewa Beach,US,21.3156,-158.0072,73.40,78,1,3.44,clear sky,2021-04-21 11:02:56
666,666,Zhaozhou,CN,45.6833,125.3167,72.91,19,92,13.87,overcast clouds,2021-04-21 11:02:57
669,669,Mogadishu,SO,2.0371,45.3438,85.89,65,99,11.81,overcast clouds,2021-04-21 11:02:58
672,672,Moengo,SR,5.6167,-54.4000,74.59,95,97,1.57,overcast clouds,2021-04-21 11:03:00

In [7]:
clean_df.count()

City_ID                239
City                   239
Country                235
Lat                    239
Lng                    239
Max Temp               239
Humidity               239
Cloudiness             239
Wind Speed             239
Current Description    239
Date                   239
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,76.84,light rain,-23.1203,-134.9692,
9,Souillac,MU,77.00,light rain,-20.5167,57.5167,
12,Bambous Virieux,MU,82.99,light rain,-20.3428,57.7575,
19,Amapa,BR,71.49,overcast clouds,1.0000,-52.0000,
21,Port Alfred,ZA,77.18,overcast clouds,-33.5906,26.8910,
23,Bhola,BD,89.80,few clouds,22.6833,90.6500,
25,Kavieng,PG,83.07,broken clouds,-2.5744,150.7967,
27,Angra Dos Reis,BR,73.40,overcast clouds,-23.0067,-44.3181,
30,Hermanus,ZA,75.99,scattered clouds,-34.4187,19.2345,
31,Georgetown,MY,87.80,few clouds,5.4112,100.3354,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,76.84,light rain,-23.1203,-134.9692,Pension Maro'i
9,Souillac,MU,77.00,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
12,Bambous Virieux,MU,82.99,light rain,-20.3428,57.7575,Casa Tia Villa
19,Amapa,BR,71.49,overcast clouds,1.0000,-52.0000,
21,Port Alfred,ZA,77.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel
...,...,...,...,...,...,...,...
659,Tamayo,DO,72.97,broken clouds,18.3947,-71.2029,Hotel del Valle
662,Ewa Beach,US,73.40,clear sky,21.3156,-158.0072,Uncle Junior Robert
666,Zhaozhou,CN,72.91,overcast clouds,45.6833,125.3167,East Hotel
669,Mogadishu,SO,85.89,overcast clouds,2.0371,45.3438,Hotel Juba
672,Moengo,SR,74.59,overcast clouds,5.6167,-54.4000,Masanga

In [12]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

In [13]:
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")
#output_data_file.to_csv(WeatherPy_Vacation.csv, index= False)

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))